
nav{
    display:none;
}
body{
    margin: 0;
    padding:0;
}

ul{
    color:black;
}

.slider{
    position: relative;
}

li{
    display: inline-block;
    list-style-type: none;
}
header {
    color: white;
    

  }

  .slider-image{
    display: none;
  }

  .active{
    display:block;
  }

 
  header span {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .arrows-container{
   background-color: black;
  height:2.5rem;
   position: absolute;
   bottom: 0;
   right:0;
   display: flex;
   align-items: center;
  
  }

  

  .left{
    padding-right:25px;
  }


main{
    color:black;
    
}


.info{
    color:black;
   
   width:80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   margin-top:2rem;
  
}

.info-1{
    height:25rem;
    position: relative;
    
}

.info-2{
    height:20rem;
}

.info h1{
    font-size:2rem;
    margin-bottom:0px;
    margin-top:1rem;

}

.info p{
line-height:1.5rem;
font-weight:lighter;
color: gray;
margin-bottom:2rem;


}

.shop-link span{
    word-spacing: 0.4rem;
    letter-spacing: 10px;
    
    
}

@media screen and (max-width:1199px) {
    .image{
        width:100%;
        max-height:550px;
    }
}

@media screen and (min-width: 768px) {
    .info {
        height: 20rem; /* Adjust as needed */
    }
}
@media screen and (min-width:1200px){
 
  

    header{
        width:50%;
    }



    .lg-view-firstr{
        display: flex;
        flex-direction: column;
       
    }

    .info-1{
        width:40%;
        display: flex;
      
        justify-content: center;
    }

   
    .second-row{
        display: flex;
       
        

    }



    .second-row img{
        width:30%;
    }


   

    .first-row{
        display:flex;
    }
    .slider{
        width:55%;
        height:500px;
    }
    .slider-image{
        height:100%;
        width:100%;
    }


    .arrows-container{
        right:auto;
        left:100%;
        width:200px;
        justify-content: center;
        height:4rem;
        
    }

     .left{
        margin-right:3rem;
    }

    
    
   
    
}
